{% include "layout.html" %}
{% include "/students/student_modal.html" %}
{% block content %}
{% include "navigation.html" %}
<div class="container students">
    <div class="index" id="students">
        <div class="top-content">
            <h1>Studenten</h1>
            <a href="#" class="button" id="btnCreate" data-toggle="modal" data-target="#studentModal">Student toevoegen</a>
        </div>
        <table class="table">
            <thead style="background-color: black; color: #fff;">
            <tr>
                <th scope="Name">Naam</th>
                <th scope="Date">E-mailadres</th>
                <th scope="Starttime">Studentnummer</th>
                <th scope="Classes">Klassen</th>
                <th scope="Delete">Verwijderen</th>
                <th scope="Change">Wijzig</th>
                <th scope="Change">Aanwezigheid</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.student_number }}</td>
                <td>
                    {% for class in student.classes %}
                    {{ class.name }}
                    {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td><a href="#" class="red" data-id="{{ student.id }}" id="btnDelete">Verwijderen</a></td>
                <td><a href="#" class="blue" data-id="{{ student.id }}" id="btnEdit" data-toggle="modal" data-target="#studentModal">Wijzigen</a></td>
                <td><a href="/students/{{ student.student_number }}/aanwezigheid" class="blue">Aanwezigheid</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
