{% include "layout.html" %}
{% include "/students/student_modal.html" %}
{% block content %}
{% include "navigation.html" %}
<div class="container">
    <div class="lessons_index">
        <div class="top-content">
            <h1>Studenten</h1>
            <a href="#" class="button" id="btnCreate" data-toggle="modal" data-target="#lessonModal">Les toevoegen</a>
        </div>
        <table class="table">
            <thead style="background-color: black; color: #fff;">
            <tr>
                <th scope="Name">Naam</th>
                <th scope="Date">E-mailadres</th>
                <th scope="Starttime">Studentnummer</th>
                <th scope="Delete">Verwijderen</th>
                <th scope="Change">Wijzig</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.student_number }}</td>
                <td><a href="#" class="red" data-id="{{ student.id }}" id="btnDelete">Verwijderen</a></td>
                <td><a href="#" class="blue" data-id="{{ student.id }}" id="btnEdit" data-toggle="modal" data-target="#studentModal">Wijzigen</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
</div>
{% endblock %}