{% include "layout.html" %}
{% include "navigation.html" %}
<div class="user">
    <li class="username" style="color: black">{{ name }}</li>
    <li class="logoutLi"><a href="/logout" style="color: black"><i class="bi bi-box-arrow-right logout"></i>Logout</a></li>
    <div class="grid">
        <div class="item">
            <span class="material-icons">person</span>
            <h2>Studenten</h2>
            <div class="bttn">
                <span class="material-icons">keyboard_arrow_right</span>
            </div>
        </div>
        <div class="item">
            <span class="fa-solid fa-person-chalkboard"></span>
            <h2>Docenten</h2>
            <div class="bttn">
                <span class="material-icons">keyboard_arrow_right</span>
            </div>
        </div>
        <div class="item">
            <span class="material-icons">school</span>
            <h2>Lessen</h2>
            <div class="bttn">
                <span class="material-icons">keyboard_arrow_right</span>
            </div>
        </div>
        <div class="item">
            <span class="material-icons">monitoring</span>
            <h2>Rapportage</h2>
            <div class="bttn">
                <span class="material-icons">keyboard_arrow_right</span>
            </div>
        </div>
    </div>
</div>
