<nav class="navigation">
    <div class="container">
        <a href="/">
            <img src="/static/assets/ra_logo.png" alt="RAC logo" />
        </a>
        <div class="links">
            <a href="/">Home</a>
            <a href="/studenten">Studenten</a>
            <a href="/docenten">Docenten</a>
            <a href="/lessen">Lessen</a>
            <a href="/rapportage">Rapportage</a>
        </div>
        <div class="account">
            <div class="user">
                <span class="material-icons">person</span>
                <span class="loggedInUser"></span>
            </div>
            <a href="/logout">Uitloggen</a>
        </div>
    </div>
</nav>